<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laiba Tariq - Portfolio</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body class="bg-paper text-ink">
	<nav class="border-b-2 border-coffee text-center pt-4 pb-4 select-none">
		<a href="#homepage" class="link linkhomepage selected">Homepage</a>
		|
		<a href="#about" class="link linkabout">About</a>
		|
		<a href="#portfolio" class="link linkportfolio">Portfolio</a>
		|
		<a href="#resume" class="link linkresume">Resume</a>
		|
		<a href="#contact" class="link linkcontact">Contact</a>
	</nav>

	<div id="pages">
		<div class="page selected" id="homepage">
			<h1>Laiba Tariq</h1>
			<p class="lorem"></p>
		</div>

		<div class="page" id="about">
			<h1>About Me</h1>
		</div>

		<div class="page" id="portfolio">
			<h1>My Portfolio</h1>
		</div>

		<div class="page" id="resume">
			<h1>My Resume</h1>
		</div>

		<div class="page" id="contact">
			<h1>Reach out to me</h1>
		</div>
	</div>

	<footer class="border-t-2 border-coffee flex justify-evenly relative">
		<div class="footersection">
			<h1>About me</h1>

			<p class="lorem"></p>
		</div>

		<div class="footersection">
			<h1>Check out</h1>

			<div id="footernav">
				<a href="#homepage" class="link linkhomepage selected">Homepage</a>
				<a href="#about" class="link linkabout">About</a>
				<a href="#portfolio" class="link linkportfolio">Portfolio</a>
				<a href="#resume" class="link linkresume">Resume</a>
				<a href="#contact" class="link linkcontact">Contact</a>
			</div>
		</div>

		<div class="footersection">
			<h1>Reach out</h1>

			<div id="footerlinks" class="flex justify-center gap-2">
				<a href="https://www.upwork.com/freelancers/lyba">
					<img src="<%= require('./assets/imgs/upworkm.svg') %>">
				</a>
				<a href="https://www.linkedin.com/in/lybataryk/">
					<img src="<%= require('./assets/imgs/linkedinm.svg') %>">
				</a>
				<a href="https://www.instagram.com/lyba_taryk/">
					<img src="<%= require('./assets/imgs/instagramm.svg') %>">
				</a>
				<a href="mailto:laibatariq132@gmail.com">
					<img src="<%= require('./assets/imgs/emailm.svg') %>">
				</a>
			</div>
		</div>

		<p id="copyright">Laiba Tariq, All rights reserved &copy;2023</p>
	</footer>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
