<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laiba Tariq - Home</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body class="bg-paper text-ink">
	<nav class="border-b-2 border-coffee text-center pt-4 pb-4 select-none">
		<a href="#homepage" class="link linkhomepage selected">Homepage</a>
		|
		<a href="#about" class="link linkabout">About</a>
		|
		<a href="#portfolio" class="link linkportfolio">Portfolio</a>
		|
		<a href="#resume" class="link linkresume">Resume</a>
		|
		<a href="#contact" class="link linkcontact">Contact</a>
	</nav>

	<main id="pages">


		<!-- HOMEPAGE -->
		<article class="page selected" id="homepage">
			<h1>Laiba Tariq</h1>
			<p class="lorem"></p>
		</article>


		<!-- ABOUT -->
		<article class="page" id="about">
			<h1>Laiba Tariq</h1>

			<div class="flex justify-between gap-8">
				<div id="aboutme">
					<h2 class="loremshort"></h2>
					<p class="lorem"></p>
					<h2 class="loremshort"></h2>
					<p class="lorem"></p>
				</div>
	
				<div id="workedwith">
					<h2>I've worked with</h2>
					<a href="//google.com/">John Doe</a>
					<a href="//google.com/">John Doe</a>
					<a href="//google.com/">John Doe</a>
				</div>
			</div>
		</article>


		<!-- PORTFOLIO -->
		<article class="page" id="portfolio">
			<h1>My Portfolio</h1>


			<div id="filters">
				<h2>Filters:</h2>


				<!-- WORK TYPE -->
				<button class="filter" data-category="seo_writing">SEO Writing</button>
				<button class="filter" data-category="blog_writing">Blog Writing</button>
				<button class="filter" data-category="script_writing">Script Writing</button>
				<button class="filter" data-category="editing">Editing</button>

				<!-- NICHES -->
				<button class="filter" data-category="travel">Travel</button>
				<button class="filter" data-category="pet">Pet</button>
				<button class="filter" data-category="pet">Tech</button>
				<button class="filter" data-category="health">Health</button>
				<button class="filter" data-category="wellness">Wellness</button>
				<button class="filter" data-category="b2b">B2B</button>
				<button class="filter" data-category="food">Food</button>
				<button class="filter" data-category="lifestyle">Lifestyle</button>

				
			</div>


			<hr class="border-coffee my-16">


			<div id="works" class="flex flex-wrap justify-center pb-20">
				<!--
					CATEGORIZE YOUR WORK
					data-categories="seo_writing health wellness"
	
					LINK YOUR WORK
					href="//google.com"
				-->


				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/freemium-app-monetization-strategies/">
					<h2>Freemium App Monetization Strategies To Make A Real Profitable App</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>


				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/app-purchases-family-sharing/">
					<h2>How To Share In-App Purchases With Family on iOS and Android</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>


				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/mobile-app-localization/">
					<h2>Why Do You Need To Localize Your Mobile App?</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>


				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/what-is-skadnetwork/">
					<h2>SKADNetwork 4.0 Guide: Apple's Attribution API</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>


				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/tiktok-advertising-formats/">
					<h2>TikTok Ads Formats And Types Explained</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>

				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/aso-cannibalization/">
					<h2>What Is Cannibalization In ASO And How To Accurately Measure It?</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>

				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/app-deep-linking/">
					<h2>Mobile App Deep Linking In 2023: Everything You Need To Know</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>

				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/app-store-description/">
					<h2>App Descriptions: Tips And Best Practices For Increasing Your App Downloads</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>

				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/how-to-design-app-icon/">
					<h2>How To Design An App Icon: Best Practices</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>

				<a class="work" data-categories="seo_writing B2B Tech" href="//adapty.io/blog/financial-provider-for-app/">
					<h2>How To Choose A Financial Provider For Your Subscription App</h2>
					<div class="img-container">
						<img src="<%= require('./assets/imgs/works/Sample_abc.jpg') %>">
					</div>
					<p>Adapty.io • B2B • Tech</p>
				</a>


				<h2 id="noresults" class="hidden">No results.</h2>
			</div>


		</article>


		<!-- RESUME -->
		<article class="page" id="resume">
			<h1>My Resume</h1>

			<!-- TODO -->
		</article>


		<!-- CONTACT -->
		<article class="page" id="contact">
			<h1>Reach out to me</h1>

			<form action="https://api.web3forms.com/submit" method="POST">
				<input type="hidden" name="access_key" value="e886777b-7796-4d42-abcd-f8a853d410ae">
				<input type="text" name="name" placeholder="Your Name" required>
				<input type="email" name="email" placeholder="Your Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
				<textarea name="message" placeholder="Your Message" required></textarea>
				<button type="submit">Submit</button>
			</form>
			
		</article>


	</main>

	<footer class="border-t-2 border-coffee flex justify-evenly relative pt-20">


		<!-- ABOUT -->
		<div class="footersection">
			<h1>About me</h1>

			<p class="lorem"></p>
		</div>


		<!-- NAV MIRROR -->
		<div class="footersection">
			<h1>Check out</h1>

			<div id="footernav">
				<a href="#homepage" class="link linkhomepage selected">Homepage</a>
				<a href="#about" class="link linkabout">About</a>
				<a href="#portfolio" class="link linkportfolio">Portfolio</a>
				<a href="#resume" class="link linkresume">Resume</a>
				<a href="#contact" class="link linkcontact">Contact</a>
			</div>
		</div>


		<!-- LINKS -->
		<div class="footersection">
			<h1>Reach out</h1>

			<div id="footerlinks" class="flex justify-center gap-2">
				<a href="https://www.upwork.com/freelancers/lyba">
					<img src="<%= require('./assets/imgs/logos/upworkm.svg') %>">
				</a>
				<a href="https://www.linkedin.com/in/lybataryk/">
					<img src="<%= require('./assets/imgs/logos/linkedinm.svg') %>">
				</a>
				<a href="https://www.instagram.com/lyba_taryk/">
					<img src="<%= require('./assets/imgs/logos/instagramm.svg') %>">
				</a>
				<a href="mailto:laibatariq132@gmail.com">
					<img src="<%= require('./assets/imgs/logos/emailm.svg') %>">
				</a>
			</div>
		</div>


		<!-- COPYRIGHT -->
		<p id="copyright" class="absolute right-4 bottom-4 m-0">Laiba Tariq • All rights reserved &copy;2023</p>


	</footer>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
