<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laiba Tariq - Home</title>

	<!-- Standard tags -->
	<meta name="title" content="Laiba Tariq - Content Writer">
	<meta name="description" content="Laiba Tariq is a freelance SEO content writer and marketing manager for startups, B2B companies, and digital creators. This website is her digital portfolio.">
	<meta name="keywords" content="content writer, SEO specialist, SEO writer, blog writer, freelance writer, freelancer content writer, marketing manager, content manager, digital marketer, article writer, Laiba Tariq">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="theme-color" content="#F2F0EA">

	<!-- Open Graph (og) tags -->
	<meta property="og:title" content="Laiba Tariq - Content Writer">
	<meta property="og:description" content="Laiba Tariq is a freelance SEO content writer and marketing manager for startups, B2B companies, and digital creators. This website is her digital portfolio.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://laibatariq.netlify.app/">
	<meta property="og:image" content="https://s.warze.org/laibatariqmeta.png">

	<!-- Twitter tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@yourusername">
	<meta name="twitter:title" content="Laiba Tariq - Content Writer">
	<meta name="twitter:description" content="Laiba Tariq is a freelance SEO content writer and marketing manager for startups, B2B companies, and digital creators. This website is her digital portfolio.">
	<meta name="twitter:image" content="https://s.warze.org/laibatariqmeta.png">

	<meta name="google-site-verification" content="bcy5xsBntd1opKJle3srPlzq6wIgwtIsmzQOwGn3xiI" />
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body class="bg-paper text-ink">
	<nav class="border-b-2 border-coffee text-center pt-4 pb-4 select-none">
		<a href="#homepage" class="link linkhomepage selected">Homepage</a>
		<a href="#about" class="link linkabout">About</a>
		<a href="#portfolio" class="link linkportfolio">Portfolio</a>
		<a href="#contact" class="link linkcontact">Contact</a>
	</nav>

	<main id="pages">


		<!-- HOMEPAGE -->
		<article class="page selected" id="homepage">
			<h1 id="title">Laiba Tariq</h1>
			<p id="description" class="text-fire">
				<span class="title">SEO Content Writer</span>
				<span class="divider"> | </span>
				<span class="title">Digital Marketing Manager</span>
				<span class="divider"> | </span>
				<span class="title">Copywriter</span>
			</p>
			<div id="photocontainer">
				<img id="photo" src="<%= require('./assets/imgs/laibatariqmin.jpg') %>">
				<div class="photoback bg-coffee back-1"></div>
				<div class="photoback bg-papyrus back-2"></div>
			</div>
			<p>I’m a content writer and marketing manager for startups, B2B companies, and digital creators. <br><br>

				I primarily write blogs, newsletters, and long-form content such as articles, guides, and YouTube scripts. Being an SEO specialist, I use on-page SEO best practices to optimize the content to rank higher in Google results, leading to much of my content landing on the top 15 Google SERPs.<br><br>
				
				Despite being a freelancer for 5 years, I’ve worked in fast-paced environments and led through challenges. <br><br>
				
				From budding startups with entrepreneurial dreams to well-established SaaS companies headquartered in New York, I’ve actively produced content that resonated with our target audience and met company goals within the time frames.<br><br>
				
				This website was designed as a portfolio to showcase my capacity as an SEO content writer, so feel free to check out my works in the Portfolio!<br><br>
				</p>
		</article>


		<!-- ABOUT -->
		<article class="page" id="about">
			<h1 id="title">Hi, I'm Laiba!</h1>
			<p id="description" class="text-fire">SEO Content Writer | Digital Marketing Manager | Copywriter</p>

			<div class="flex justify-between gap-8">
				<div id="aboutme">
					<h2>About Me</h2>
					<p>I am a certified SEO Specialist with a knack for content writing, helping brands establish their digital strongholds with email marketing, digital marketing, web content, and search engine optimization. <br><br>

						I'm currently the Head of Marketing at Stanton Financial Co., along with being the Lead Scriptwriter for a famous YouTube channel in the travel niche.<br><br>
						
						Previously, I worked as a freelance content writer for numerous brands— both multi-million dollar companies and startups— around the world, a few of which were featured in the Forbes Top 500 companies!<br><br>
						
						Originally, I'm from Pakistan and have studied Business and Digital Marketing. I started working as a freelance writer over 5 years ago and used Upwork as my main freelancing platform. Since then, I've climbed my way up as a Top-Rated Freelancer on the platform and enjoy working full-time as a freelance writer.<br><br>
						
						Outside my work, you can find me playing with my cats, listening to Taylor Swift, or socializing with people wherever I go!
						
						</p>
					<h2>Why Is A Lot Of My Work In Google’s Top 20 SERPs?</h2>
					<p>My journey started as a humble ghostwriter taking lowball projects for a portfolio and experience. Then, I got certified in SEO, email marketing and digital marketing. Now, I'm collaborating with multi-million dollar businesses and driving them to the top 20 Google SERPs. Startup collaborations are no different!<br><br> 
					So how do I do it?<br><br>

					<ul>
						<li>I connect with a reader’s pain point on a personal basis– doesn’t matter if you’re a pet blog or a multi-million dollar SaaS company!</li>
						<li>I generate CREATIVE marketing strategies that turn impressions into clicks.</li>
						<li>I apply clever SEO strategies the top 10 Google results don’t want you to know. But I do.</li>
						<li>I'm a mom at the core. I believe in others and their goals as if they were my children.</li>
						<li>I love to win. But I love to win for the team a WHOLE LOT more.</li>
						<li>In the end, my job involves people. I don’t write anything that doesn’t HELP people.</li>
					</ul>
				</p>
				</div>
	
				<div id="workedwith">
					<h2>I've worked with</h2>
					<a href="//adapty.io/">Adapty.io</a>
						<p>B2B Content Writer</p>
						<p>New York, USA</p>
					<a href="//pilotplans.com/">Pilot</a>
						<p>Content Writer, Editor & SEO Specialist</p>
						<p>Vancouver, Canada</p>
					<a href="//businessofapps.com/">Business of Apps</a>
						<p>Content Writer</p>
						<p>London, UK</p>
				</div>
			</div>
		</article>


		<!-- PORTFOLIO -->
		<article class="page" id="portfolio">
			<h1>My Portfolio</h1>


			<div id="filters">
				<h2>Filters:</h2>


				<!-- WORK TYPE -->
				<button class="filter" data-category="seo_writing">SEO Writing</button>
				<button class="filter" data-category="blog_writing">Blog Writing</button>
				<button class="filter" data-category="script_writing">Script Writing</button>
				<button class="filter" data-category="editing">Editing</button>

				<!-- NICHES -->
				<button class="filter" data-category="travel">Travel</button>
				<button class="filter" data-category="pet">Pet</button>
				<button class="filter" data-category="tech">Tech</button>
				<button class="filter" data-category="health">Health</button>
				<button class="filter" data-category="wellness">Wellness</button>
				<button class="filter" data-category="b2b">B2B</button>
				<button class="filter" data-category="food">Food</button>
				<button class="filter" data-category="lifestyle">Lifestyle</button>

				
			</div>


			<hr class="border-coffee my-16">


			<div id="works" class="flex flex-wrap justify-center">
				<!--
					CATEGORIZE YOUR WORK
					data-categories="seo_writing health wellness"
	
					LINK YOUR WORK
					href="//google.com"
				-->


				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/freemium-app-monetization-strategies/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/freemium.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Freemium App Monetization Strategies To Make A Real Profitable App</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>


				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/app-purchases-family-sharing/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/familyshare.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How To Share In-App Purchases With Family on iOS and Android</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>


				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/mobile-app-localization/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/localization.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Why Do You Need To Localize Your Mobile App?</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>


				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/what-is-skadnetwork/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/skadnetwork.jpg') %>">
					</div>
					<div class="work-text">
						<h2>SKADNetwork 4.0 Guide: Apple's Attribution API</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>


				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/tiktok-advertising-formats/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/tiktok.jpg') %>">
					</div>
					<div class="work-text">
						<h2>TikTok Ads Formats And Types Explained</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/aso-cannibalization/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/aso.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What Is Cannibalization In ASO And How To Accurately Measure It?</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/app-deep-linking/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/deeplink.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Mobile App Deep Linking In 2023: Everything You Need To Know</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/app-store-description/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/appdescription.jpg') %>">
					</div>
					<div class="work-text">
						<h2>App Descriptions: Tips And Best Practices For Increasing Your App Downloads</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing b2b tech" href="//adapty.io/blog/how-to-design-app-icon/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/appicon.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How To Design An App Icon: Best Practices</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/toxic-chemicals-in-personal-care-products/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/personalcare.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Toxic Chemicals In Personal Care Products</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/holistic-well-being-meaning/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/holistic.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Holistic Well-being Meaning</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/what-is-mindful-reading/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/reading2.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What Is Mindful Reading?</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/integrative-health-medicine/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/yoga.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Integrative Health Medicine</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/toxic-ingredients-in-shampoo-and-conditioner/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/shampoo2.jpg') %>">
					</div>
					<div class="work-text">
						<h2>10 Toxic Ingredients In Shampoo And Conditioner</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/best-shampoo-without-harmful-ingredients/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/shampoo.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Best Shampoo Without Harmful Ingredients</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/ewg-ingredients-to-avoid/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/chemicals.jpg') %>">
					</div>
					<div class="work-text">
						<h2>EWG Ingredients To Avoid</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/what-toxic-chemicals-are-in-plastic/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/plastic.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What Toxic Chemicals Are In Plastic?</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/holistic-wellbeing-with-eco-living-homes/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/ecoliving.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Holistic Well-being With Eco-Living Homes</h2>
						<p>Simple Holistic Wellbeing • Wellness • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/lip-balm-without-harmful-ingredients/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/lipbalm.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Lip Balm Without Harmful Ingredients</h2>
						<p>Simple Holistic Wellbeing • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/ways-to-be-more-sustainable-in-an-apartment/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/plants.jpg') %>">
					</div>
					<div class="work-text">
						<h2>55 Way To Be More Sustainable In An Apartment</h2>
						<p>Simple Holistic Wellbeing • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/how-many-toxic-chemicals-are-in-the-average-home/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/cleaning.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How Many Toxic Chemicals Are In The Average Home?</h2>
						<p>Simple Holistic Wellbeing • Lifestyle</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/how-much-mindfulness-per-day/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/meditate.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How Much Mindfulness Per Day?</h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/how-much-meditation-is-equal-to-sleep/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/sleep.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How Much Meditation Is Equal To Sleep?</h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//simpleholisticwellbeing.com/what-is-the-best-mindfulness-book/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/reading.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What Is The Best Mindfulness Book?</h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//docs.google.com/document/d/1CN8wgn7lF5KrStdpkGvR4D1n5U-qz4NZvYcb3M-eObk/edit?usp=sharing">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How Mindfulness For Kids Can Strengthen Your Family</h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>


				AAAAAAAAAAAAAAAAAAAAAAAa


				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/copyright-vs-trademark-whats-the-difference/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/copyright.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Copyright vs Trademark: What's the Difference?</h2>
						<p>Stanton Financial Co. • Legal Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/business-credit-cards-for-startups/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/businesscreditcards.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Are Business Credit Cards For Startups Any Good?</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/principles-of-personal-finance/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/personalfinancerules.jpg') %>">
					</div>
					<div class="work-text">
						<h2>12 Principles of Personal Finance for Dummies</h2>
						<p>Stanton Financial Co. • Personal Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/15-important-kpis-for-small-businesses/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/businesskpis.jpg') %>">
					</div>
					<div class="work-text">
						<h2>15 Best KPIs for Small Businesses to Track for Success</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/20-money-lessons-to-learn-in-your-20s/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/moneylessons20s.jpg') %>">
					</div>
					<div class="work-text">
						<h2>20 Important Money Lessons to Learn in Your 20s</h2>
						<p>Stanton Financial Co. • Personal Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/what-is-cash-flow/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/cashflow.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What is Cash Flow: Why is it Important?</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/tax-forms-and-terms-small-business-owners-need-to-know/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/taxformsterms.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Tax Forms and Terms Small Business Owners Need to Know</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/zero-based-budgeting/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/zerobasedbudget.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What is Zero Based Budgeting?</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/financial-tips-for-small-business-owners/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/financialtips.jpg') %>">
					</div>
					<div class="work-text">
						<h2>10 Financial Tips for Small Business Owners</h2>
						<p>Stanton Financial Co. • Business Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/month-end-close-checklist-for-small-business-owners/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/checklistmonthly.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Month-end Close Checklist for Small Business Owners</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/10-reasons-i-should-hire-a-cfo-for-my-small-business/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/cforeasons.jpg') %>">
					</div>
					<div class="work-text">
						<h2>10 Reasons I Should Hire a CFO for My Small Business</h2>
						<p>Stanton Financial Co. • Business</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/9-best-books-on-financial-literacy-for-women-to-read-in-2023/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/financialliteracybooks.jpg') %>">
					</div>
					<div class="work-text">
						<h2>9 Best Books on Financial Literacy for Women to Read in 2023</h2>
						<p>Stanton Financial Co. • Personal Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/6-things-i-learned-from-taking-an-offline-social-media-break/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/socialmediabreak.jpg') %>">
					</div>
					<div class="work-text">
						<h2>6 Things I Learned From Taking An Offline Social Media Break</h2>
						<p>Stanton Financial Co. • Self-care</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/w2-w4-vs-w9-whats-the-difference/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/.jpg') %>">
					</div>
					<div class="work-text">
						<h2>W2, W4 vs W9 Tax Forms: Why Should You Focus On Them?</h2>
						<p>Stanton Financial Co. • Legal</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/what-happens-if-you-havent-filed-taxes-yet/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/filetaxes.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What Happens If You Haven't Files Taxes Yet? It's Not Too Late!</h2>
						<p>Stanton Financial Co. • Legal</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/what-is-the-50-30-20-budget-rule/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/503020rules.jpg') %>">
					</div>
					<div class="work-text">
						<h2>What is the 50/30/20 rule? Budget Rule Explained!</h2>
						<p>Stanton Financial Co. • Personal Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/tax-tips-for-influencers/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/.jpg') %>">
					</div>
					<div class="work-text">
						<h2>6 Tax Tips For Influencers and Content Creators</h2>
						<p>Stanton Financial Co. • Personal Finance (taxes)</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/influencer-taxes/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/influencertax.jpg') %>">
					</div>
					<div class="work-text">
						<h2>Influencer Taxes? That's a Thing!</h2>
						<p>Stanton Financial Co. • Personal Finance (taxes)</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/10-influencer-tax-write-offs/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/taxwriteoff.jpg') %>">
					</div>
					<div class="work-text">
						<h2>10 Influencer Tax Write-Offs to Claim in 2023</h2>
						<p>Stanton Financial Co. • Personal Finance (taxes)</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//stantonfinancialco.com/blog/small-business-influencer-accounting-mistakes/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/accmistakes.jpg') %>">
					</div>
					<div class="work-text">
						<h2>5 Common Accounting Mistakes to Avoid in 2023</h2>
						<p>Stanton Financial Co. • Finance</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//adapty.io/blog/how-to-build-mobile-app-development-team/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/startupteam.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How to Build a Mobile App Development Team?</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//adapty.io/blog/financial-provider-for-app/">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/financialprovider.jpg') %>">
					</div>
					<div class="work-text">
						<h2>How to Choose a Financial Provider for Your Subscription App?</h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Adapty.io • B2B • Tech</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>

				<a class="work" data-categories="seo_writing blog_writing lifestyle wellness" href="//">
					<div class="img-container">
						<img loading="lazy" src="<%= require('./assets/imgs/works/mindfulnesskids.jpg') %>">
					</div>
					<div class="work-text">
						<h2></h2>
						<p>Simple Holistic Wellbeing • Wellness</p>
					</div>
				</a>


				<h2 id="noresults" class="hidden">No results.</h2>
			</div>


		</article>



		<!-- CONTACT -->
		<article class="page" id="contact">
			<div id="contactflex">
				<div id="contacttext">
					<h1>Reach out to me</h1>
					<p>If you're interested in talking to me about my work, feel free to fill out this quick form and I'll get back to you ASAP!</p>
				</div>
				<div id="contactform">
					<form action="https://api.web3forms.com/submit" method="POST">
						<input type="hidden" name="access_key" value="e886777b-7796-4d42-abcd-f8a853d410ae">
						<input type="text" name="name" placeholder="Your Name" required>
						<input type="email" name="email" placeholder="Your Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
						<textarea name="message" placeholder="Your Message" required></textarea>
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
		</article>


	</main>

	<footer class="border-t-2 border-coffee flex justify-evenly relative pt-20">


		<!-- ABOUT -->
		<div class="footersection">
			<h1>About me</h1>

			<p>Certified SEO Content Writer And Manager with +5 years of experience in writing content that's optimized for Google's algorithm and the human heart.</p>
		</div>


		<!-- NAV MIRROR -->
		<div class="footersection">
			<h1>Check out</h1>

			<div id="footernav">
				<a href="#homepage" class="link linkhomepage selected">Homepage</a>
				<a href="#about" class="link linkabout">About</a>
				<a href="#portfolio" class="link linkportfolio">Portfolio</a>
				<a href="#contact" class="link linkcontact">Contact</a>
			</div>
		</div>


		<!-- LINKS -->
		<div class="footersection">
			<h1>Reach out</h1>

			<div id="footerlinks" class="flex justify-center gap-2">
				<a href="https://www.upwork.com/freelancers/lyba">
					<img src="<%= require('./assets/imgs/logos/upworkm.svg') %>">
				</a>
				<a href="https://www.linkedin.com/in/lybataryk/">
					<img src="<%= require('./assets/imgs/logos/linkedinm.svg') %>">
				</a>
				<a href="https://www.instagram.com/lyba_taryk/">
					<img src="<%= require('./assets/imgs/logos/instagramm.svg') %>">
				</a>
				<a href="mailto:laibatariq132@gmail.com">
					<img src="<%= require('./assets/imgs/logos/emailm.svg') %>">
				</a>
			</div>
		</div>


		<!-- COPYRIGHT -->
		<p id="copyright" class="absolute right-4 bottom-4 m-0">Laiba Tariq • All rights reserved &copy; 2023 - Developed by <a class="underline" href="https://www.linkedin.com/in/leonhard-tissen/">Leonhard Tissen</a></p>


	</footer>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
